@import "./Theme.css";

.CardBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;

    background: var(--fourthTheme);

    border:4px solid var(--firstTheme);
    border-radius:10px 10px 10px 10px;
}

.CardBoxTitle {
    display: flex;
    justify-content: left;
    flex-direction: column;

    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CardBoxTitleName {
    display: flex;
    
    width: 100%;

    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-size: 40px;
}

.CardBoxTitleDressing {
    display: flex;

    width: 100%;
    height: 1px;
    margin-top: 10px;

    background: var(--thirdTheme);
}

.CardBoxBody {
    display: flex;

    width: 90%;
    margin-bottom: 10px;
}

.CrestPicture {
    display: flex;
    
    width: 30%;
    margin-bottom: 0px;

    object-fit: contain;
}

.CardDescription {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding-left: 40px;
}

.CardDegreeCaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
}

.CardDegreeCaptionText {
    display: flex;

    margin-left: 20px;

    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-style: italic;
    font-size: 24px;
    white-space: nowrap;
}

.CardDescriptionDressing {
    display: flex;

    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

    background: repeating-linear-gradient(
        45deg,
        var(--firstTheme),
        var(--firstTheme) 5px,
        var(--fourthTheme) 5px,
        var(--fourthTheme) 10px
    );
}

.CardDescriptionText {
    display: flex;
    text-align: left;
    
    width: 100%;

    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-size: 20px;
}

@media (max-width: 1200px) {
    /* Overrides the above styles on screens smaller than 1200px */

    .CardBoxBody {
        display: flex;
        flex-direction: column;
    
        width: 90%;
        margin-bottom: 20px;
    }

    .CrestPicture {
        display: flex;
        
        width: 100%;
        margin-bottom: 20px;
    
        object-fit: contain;
    }

    .CardDescription {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        padding-left: 0px;
    }

    .CardDegreeCaption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 100%;
    }

    .CardDegreeCaptionText {
        display: flex;
    
        margin-left: 0px;
    
        color: var(--firstTheme);
        font-family: var(--generalFontFamily);
        font-style: italic;
        font-size: 24px;
        white-space: nowrap;
    }

    .CardDegreeCaptionDressing {
        display: flex;
    
        width: 100%;
        height: 0px;
    
        background: repeating-linear-gradient(
            45deg,
            var(--firstTheme),
            var(--firstTheme) 5px,
            var(--fourthTheme) 5px,
            var(--fourthTheme) 10px
        );
    }
}
