@import "./Theme.css";

.AboutPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.AboutCardBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.InterestBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;

    background: var(--fourthTheme);

    border:4px solid var(--firstTheme);
    border-radius:10px 10px 10px 10px;
}

.InterestBoxTitle {
    display: flex;
    justify-content: left;
    flex-direction: column;

    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.InterestBoxTitleName {
    display: flex;
    
    width: 100%;

    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-size: 40px;
}

.InterestBoxTitleDressing {
    display: flex;

    width: 100%;
    height: 1px;
    margin-top: 10px;

    background: var(--thirdTheme);
}

.InterestBoxBody {
    display: flex;
    justify-content: space-between;

    width: 95%;
    margin-bottom: 10px;
}

.InterestPictureSection {
    display: flex;
    flex-direction: column;

    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;

    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-size: 30px;
}

.InterestPicture {
    display: flex;

    width: 100%;
    margin-bottom: 20px;

    background: var(--secondTheme);

    border:4px solid var(--firstTheme);
    border-radius:0px 0px 0px 0px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    /* Overrides the above styles on screens smaller than 1200px */

    .InterestBoxBody {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        width: 95%;
        margin-bottom: 10px;
    }

    .InterestPictureSection {
        display: flex;
        flex-direction: column;
    
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 8px;
    
        color: var(--firstTheme);
        font-family: var(--generalFontFamily);
        font-size: 30px;
    }
}
