@import "./Theme.css";

.HomePage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.HomePage-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 80px;
    margin: 30px;
}

.HomePage-title {
    
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;

    width: 100%;
}

.HomePage-title-overlay {
    display: flex;
    align-items: left;
    justify-content: center;

    width: 100%;

    background: var(--firstTheme);

    color: var(--secondTheme);
    font-family: var(--generalFontFamily);
    font-size: 60px;
}

.HomePage-title-right {
    display: flex;

    width: 5px;
    height: 74px;

    background: var(--thirdTheme);
}

.HomePage-title-underlay {
    display: flex;
    
    width: 100%;
    height: 5px;
    margin-left: 5px; 
    margin-right: 0;

    background: var(--thirdTheme);
}