@import "./Theme.css";

.MainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--firstTheme);
}

.MainHeader-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 48px;
}

.headerButton-false {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 100%;

    cursor: pointer;

    color: var(--secondTheme);
    font-family: var(--generalFontFamily);
    font-size: 20px;
}

.headerButton-true {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 100%;

    cursor: pointer;

    background: var(--secondTheme);
    color: var(--firstTheme);
    font-family: var(--generalFontFamily);
    font-size: 20px;
}

.MainHeader-links {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.MainHeader-linkBar {
    display: flex;

    width: 10%;
    min-width: 100px;
    height: 1px;
    margin-top: 10px;

    background: var(--thirdTheme);
}

.MainHeader-linkPictures {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 6%;
    min-width: 80px;

    margin-top: 30px;
}

.MainHeader-github {
    cursor: pointer;
}

.MainHeader-linkedin {
    cursor: pointer;
}