@import "./Theme.css";

.Title-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;

    width: 95%;
    height: 80px;
    margin: 30px;
}

.Title-main {
    
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;

    width: 100%;
}

.Title-overlay {
    display: flex;
    align-items: left;
    justify-content: center;

    width: 100%;

    background: var(--firstTheme);

    color: var(--secondTheme);
    font-family: var(--generalFontFamily);
    font-size: 60px;
}

.Title-right {
    display: flex;

    width: 5px;
    height: 74px;

    background: var(--thirdTheme);
}

.Title-underlay {
    display: flex;
    
    width: 100%;
    height: 5px;
    margin-left: 5px; 
    margin-right: 0;

    background: var(--thirdTheme);
}

@media (max-width: 1200px) {
    /* Overrides the above styles on screens smaller than 1200px */

    .Title-overlay {
        display: flex;
        align-items: left;
        justify-content: center;
    
        width: 100%;
    
        background: var(--firstTheme);
    
        color: var(--secondTheme);
        font-family: var(--generalFontFamily);
        font-size: 40px;
    }

    .Title-right {
        display: flex;
    
        width: 5px;
        height: 48px;
    
        background: var(--thirdTheme);
    }
}
